h1 {
	font-size: 30px !important;
	text-align: center;
}
.container {
	max-width: 500px !important;
	margin-left: 0px !important;
}
.route-bar {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.select {
	margin-left: 15px;
}
pre {
	position: absolute;
	right: 0px;
	top: 0px;
}
